# [Xata] Configuration used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_BRANCH=<XATA_BRANCH_VALUE>
XATA_API_KEY=<XATA_API_KEY_VALUE>
XATA_DATABASE_URL=<XATA_DATABASE_URL_VALUE>